PUBLIC_SUPABASE_URL=https://supabase.co
PUBLIC_SUPABASE_ANON_KEY=sb_publishable_key

PUBLIC_POSTHOG_PROJECT_TOKEN=phc_key
PUBLIC_POSTHOG_HOST=https://posthog.com

VITE_GROQ_WORKER_URL=https://groq.workers.dev